<h1>About Me</h1>

<h3>So, who is John Cato?</h3>

<%= image_tag "john_cato.jpg" %>


 <article>My name is John Cato and I attend the Iron Yard Academy where I am currently learning to become a Ruby on Rails developer.
    I am 27 years old and have lived in FL for majority of my adult life. I have been married to the love of my life Tiffany for
    a little bit over a year. I love technology and desire to use it to make an impact in peoples lives. After the Iron Yard,
    I plan on finding a job to start my career as a software developer.</article>
