<h1>Welcome To My Blog!</h1>

<div>
  <h3>This site is a weekly journal of my journey at The Iron Yard Academy.</h4>
  <h3>I'm sure some of you are asking <a href="/about"><strong>who is John Cato?</strong></a> click on the link to find out.</h3>
</div>


<%= image_tag "Iron-Yard.png" %>


<nav>
  <ol>
    <li><a href="/post1" class="btn btn-active btn-lg active" role="button">First Week</a></li>
    <li><a href="/post2" class="btn btn-active btn-lg active" role="button">Growth</a></li>
    <li><a href="/post3" class="btn btn-active btn-lg active" role="button">Pressing On</a></span></li>
  </ol>
</nav>
