<h1>Striving for the Growth Mindset</h1>

<h2><%= time %> </h2>

<%= image_tag "failed.jpg" %>

<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non pulvinar metus, vitae rutrum tortor. Mauris luctus, massa id finibus congue, nibh lectus accumsan sapien, eu pretium purus dolor ac nibh. Donec porta odio arcu, at mattis ante viverra id. In vitae quam et ipsum imperdiet elementum. Vestibulum maximus diam id pretium condimentum. Nam lacinia purus ac orci vulputate, ut facilisis diam pulvinar. Sed quis molestie leo. Donec quis tincidunt sapien, a bibendum elit. Praesent consequat auctor quam nec molestie.</article>
