<h1>John Cato's Coding Journey</h1>

<h2><%= time %> </h2>

<ins><h2>My First week at the Iron Yard Academy</h2></ins>


<div>
<p>If I had to describe my first week at the Iron Yard in one word, it would be <em>discouraging</em>. I knew this program was going to be mentally challenging but I had no idea that it was going to be this difficult. On the first day of class I learned more about computers and programming that I've ever learned in the few months I attempted to teach myself. I was overwhelmed with a multitude of emotions as I was introduced to topic after topic of concepts I knew nothing about. I know my journey here will definitely be a challenge but I recognize that if it was easy everyone would be doing it. It's difficult for a reason.</p>
</div>


<div>
<p>Hello!</p>
</div>
