// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Slabo 100px', serif;
  background-color: gray;
}

th {
  font-family: 'Slabo 27px', serif;
}

img {
  display: block;
  margin: 0 auto;
}
