// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  background-color: #6C87A3;
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: large;

}

img {
 display:block ;
 margin:0 auto ;
}

 body{
   background-color: #ADD6FF;



}
